*{
    margin:0;
    box-sizing: border-box;
}
body {
    font-family:Segoe UI', Roboto, 'Helvetica Neue', 'Fira Sans', Ubuntu, Oxygen, 'Oxygen Sans', Cantarell, 'Droid Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Lucida Grande', Helvetica, Arial, sans-serif;
}

.nav{
   
    width: 70px;
    height: 70px;
    padding: 12px 16px;
    display: flex;
    align-items:center;
    justify-content:space-between ;
   }

   .logo{
         width: 135px;
         height: 33px;
         font-size: 16px;
        margin-left: 40px;
        font-weight:bold;
         transition-property: opacity;
       }
   .navbar{
    display:flex;
    flex-direction: row;
    cursor: pointer;
    color: rgb(105, 101, 101);
   }
   
    .nav-item1{
    margin-left: 410px;
    list-style-type: none;
    margin-bottom:-5px;
    align-items: center;
   }

   .nav-item1:hover{
    color: black;
   }
   .nav-item2{
     margin-left: 50px;
     list-style-type: none;
     margin-bottom: 5px;
   }
   .nav-item2:hover{
    color: black;
   }
    
   .nav-item3{
    margin-left: 50px;
    list-style-type: none;
    margin-bottom: 5px;
  }
  .nav-item3:hover{
    color: black;
   }
  .nav-item4{
    margin-left: 50px;
    list-style-type: none;
    margin-bottom: 5px;
  }
  .nav-item4:hover{
    color: black;
   }
   
  .nav-item5{
    margin-left: 40px;
    list-style-type: none;
    white-space: nowrap;
    margin-bottom: 10px;
  }
  .nav-item5:hover{
    color: black;
   }
   .thing-join{
    margin-left: 30px;
    white-space: nowrap;
   } 
    .button{
    border-radius: 24px;
    width: 113px;
    height:48px;
    background-color: white;
    opacity:transparent;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border: hidden;
    color: black;
   }
   .button:hover{
    background-color:lightgray;

   }
   .thing-sign{
    margin-left:30px;
    width: 80px;
   }
   .button1{
    white-space: nowrap;
    border-radius: 24px;
    border-color: #0A66C2;
    width: 100px;
    height:48px;
    opacity:transparent;
    background-color: white;
    color: #0A66C2;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
   }
   .button1:hover{
    background-color: lightblue;
   }

   .login-box{
    width: 300px;
    max-height: 501px;
    margin-left: 80px;
    margin-top: 80px;
    display: grid;
    gap:1rem;
   }

   .login-box .login-form{
    width: 100%;
    background-color: #fff;
    box-shadow: 2px 2px 4px #fff;
   }

.login-box .login-form .tittle{
    padding: 1rem 1rem;
}
   .login-box .login-form h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 35px;
    max-width: 88%;
    color:#a10202
   }

   .login-box .login-form form{
   display:flex;
   flex-direction: column;
   gap: 1.6rempx;
   }
   .login-box .login-form form .inputs-box{
    display:flex;
    flex-direction: column;
    gap: 0.75rem;

   }
   .login-box .login-form form .inputs-box label{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    color:#555;
    margin-bottom: 8px;
   }
   .login-box .login-form form .inputs-box input{
    border: 1px solid #777;
    background-color: #fff;
    border-radius: 0.5rem;
    width:408px ;
    height: 50px;
   }
   .login-box .login-form form  .forgot .nav-link{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color:#0A66C2;
    margin-bottom: 10px;
    width: 128px; 
    height: 20px;
    cursor:pointer;
   }
   .login-box .login-form form  .forgot .nav-link:hover{
    color:black;
   }
   .login-box .login-form form .button3{
    width: 408px;
    height: 50px;
    border-radius: 30px;
    background-color: #0A66C2;
    color:#fff;
    border: transparent;
    font-size: 18px;
    margin-right: 15px;
    cursor: pointer;
   }
   .login-box .login-form form .button3:hover{
    border: solid darkblue;
    background-color:darkblue;
   }

   .container img{
    position: relative;
    margin-left: 140%;
    bottom: 50%;
    width: 200%; 
    height: 650px; 

   }
   .message{
    width: 400px;
    height: 52px;
    position: absolute;
    top: 100%;
    font-size: 12px;
    text-align:left;
    bottom:80%;
   }
   .continue button{
    width: 408px;
    height:50px;
    border-radius: 30px;
    border-width: 2px ;
    border-color: lightblue;
    background-color: #fff;
    font-size: 16px;
    color: #000000BF;
    position: absolute;
    top:110%;
    cursor:pointer;
   }
   .continue button:hover{
    border: solid gray;
   }
   .continue1 button{
    width: 408px;
    height:50px;
    border-radius: 30px;
    border-color:solid lightgrey;
    background-color: #fff;
    font-size: 16px;
    color: #000000BF;
    position: absolute;
    top:120%;
    cursor:pointer;
   }
   .continue1 button:hover{
    background-color:whitesmoke;
   }
   .explore {
    width: 408px;
    height: 180px;
    position: absolute;
    top: 140%;
    font-size: 48px;
    text-align:left;
    line-height: 70px;
    bottom:80%;
   }
   .we{
    width: 408px;
    height: 180px;
    position: absolute;
    top: 170%;
    line-height: 30px;
    font-size: 18px;
   }
   .blocks{
    position:absolute;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    align-items: center;
    list-style-type: none;
    margin-left:30%;
    top:150%;    
   }
   .blocks1 button{
    width: 203px;
    height:50px;
    border-radius: 30px;
    justify-content:space-between;
    background-color: #fff;
    font: size 16px;
    font-weight:600;
    border:light gray;
    cursor: pointer;
    gap: 5px;
   }
   .blocks1 button:hover{
    background-color: whitesmoke;
   }
   
   .Find{
    width: 408px;
    height: 180px;
    position: absolute;
    top: 200%;
    font-size: 45px;
    text-align:left;
    line-height: 70px;
    bottom:80%;
   }
   
   .search{
    position:absolute;
    margin-left:30%;
    list-style-type: none;
    white-space: nowrap;
    margin-top: 20px;
   }
   .original{
    list-style-type: none;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    position:absolute;
    margin-left:30%;
    margin-top: 70px;
    gap: 5px;
   }
   .list button{
    width: 203px;
    height: 50px;
    border-radius: 30px;
    cursor:pointer;
    background-color: #fff;
    font-size: 16px;
    font-weight: 200;
    border:light;
   }
   .list button:hover{
    background-color:whitesmoke;
   }
   .list2 button{
    width: 203px;
    height: 50px;
    border-radius: 30px;
    background-color: #fff;
    cursor:pointer;
    font-size: 16px;
    font-weight: 200;
    border:light;
   }
   .list2 button:hover{
    background-color:whitesmoke;
   }
   
 .btn1{
    position: absolute;
    margin-left: 73%;
     top:  245%;
     width: 193px;
    height: 50px;
    border-radius: 30px; 
    cursor:pointer;
    font-size: 16px;
    font-weight: 200;
    align-items: center;
    border:light;
    padding:1rem;
 }
 .wrapper{
    position: absolute;
    top:280%;
    bottom: 60%;
    width: 1650px;
    height: 300px;
    background-color:rgb(234, 223, 223);  
    
 }
 .post{
    font-size: 45px;
    line-height: 70px;
    color:#a10202;
    padding-left: 16px;
    padding-right: 10px;
 }
 .btn2{
    position: absolute;
    display: flex;
    flex: row;
    font-size: 16px;
    margin-left: 40%;
    top: 20%;
    width: 135px;
    height: 50px;
    border-radius: 30px;
    border-color: #0A66C2;
    color: #0A66C2; 
    align-items: center;
    padding: 2rem;
    background-color:rgb(234, 223, 223);   
}
 .Discover{
        width: 408px;
        height: 180px;
        position: absolute;
        top: 150%;
        font-size: 45px;
        text-align:left;
        margin-left : 40px;
        bottom:80%;
 }
 .connect{
    width: 408px;
        height: 180px;
        position: absolute;
        top: 190%;
        font-size: 18px;
        text-align:left;
        margin-left : 40px;
        bottom:80%;
        line-height: 30px;
 }
 .Tools{
    position:absolute;
    margin-left:35%;
    list-style: none;
    white-space: nowrap;
    margin-top: 200px;
}
.New{
    list-style: none;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    position:absolute;
    margin-left:35%;
    margin-top: 270px;
    gap: 5px;
}
.New button{  

    width: 203px;
    height: 50px;
    border-radius: 30px;
    background-color: #fff;
    color: rgb(105, 101, 101);
    cursor:pointer;
    font-size: 16px;
    font-weight: 200;
    border:light;
   }
   .New button:hover{
    background-color: whitesmoke;
    color: black;
   }
  .New1 button{
    color: #0A66C2;
  }
  .New1 button:hover{
    color: darkblue;
  }
  .Let{
    width: 408px;
    height: 180px;
    position: absolute;
    top: 20%;
    font-size: 36px;
    text-align:left;
    margin-left : 40px;
    bottom:80%;
    color: #a10202;
  }
  .header{
    position: absolute;
    top:290%;
    bottom: 60%;
    width: 1430px;
    height: 840px;
    background-color:rgb(234, 223, 223);    

  }
  .open{
    width: 408px;
    height: 180px;
    position: absolute;
    top: 30%;
    font-size: 18px;
    text-align:left;
    margin-left : 40px;
    bottom:80%;
    line-height: 30px;
    word-spacing: 10px;
  }
  .pic{
    position: relative;
    margin-left: 40%;
    top: 100px;
    width: 35%; 
    height: 496px; 
  }
  .icon{
    position: absolute;
    margin-left: 90%;
    top: 350px;
    width: 35%; 
    height: 496px;
    font-size: larger;   
  }
  .icon button{
    width:50px ;
    height: 50px;
    border-radius: 25px;
    background-color: black;
    color: #fff;
  }
  .pic1{
    position:relative;
    margin-left: 10%;
    top: 550px;
    width: 312px; 
    height: 312px; 
  }
  .pic2{
  position:relative;
  margin-left: 60%;
  top: 240px;
  width: 318px; 
  height: 314px; 
  }
  .main{
    width: 400px;
    height: 120px;
    margin-left: 100px;
    margin-top:300px;
    align-items: center;
    font-size: 38px;
    background-color:#fff;
  }
  .main .know button{
    width: 210px;
    height: 49px;
    border-radius: 24px;
    cursor: pointer;
    background-color:#fff;
    font-size: 16px;
    align-items: center;
    margin-left: 50px;

  }
.know button:hover{
background-color:whitesmoke;   
}
.main1{
    position: absolute;
    margin-left: 40%;
    top: 1440px;
    width: 400px;
    height:120px;
    font: size 38px; 
    font-weight: 100; 
   }
   .main1 .topic button{
    width:360px ;
    height: 58px;
    cursor: pointer;
    background-color:#fff;
    font-size: 16px;
    align-items: center;
    margin-left: 5px;
    border-width: 0.3px;
    font-weight: 100px;
   }
  .topic button:hover{
    background-color:whitesmoke;  
  }
  .who{
    width: 750px;
    height: 620px; 
    margin-top: 300px; 
    background-color: #dbd7d7;  
  }
    .like{
    position: absolute;
    width: 400px;
    height: 50px;
    top: 2020px; 
    margin-left: 300px; 
    font-size: 38px;
    color: #a10202;
  }
  .look{
    position: absolute;
    width: 400px;
    height: 50px;
    margin-top :-380px; 
    margin-left: 330px;
    font-size: 26px;
    word-spacing: 3px;
    font-weight: 10;
  }
  .inputs button{
    gap:10px;
    width:360px ;
    height: 58px;
    cursor: pointer;
    background-color: #c8c4c4;
    font-size: 16px;
    align-items: center;
    border-width: 0.3px;
    font-weight: 100px;
    display: block;
    position: relative;
    bottom: 280px;
    margin-left: 300px;
    border:transparent;
  }
  .inputs button:hover{
    background-color:rgba(194, 193, 193, 0.689);
  }
  .pic3{
    height: 820px;
    width: 820px;
    margin-left: 780px;
    position:relative;
    bottom:900px;
  }
  .chase{
    width: 750px;
    height: 700px;
    background-color: #daf5faee;
    margin-left: 690px;
    position: relative;
    bottom:800px;
  }
  .dream1{
    margin-left: 860px;
    position: relative;
    bottom:1200px;
    font-size: 38px;
    color: #a10202;
  }
  .dream2{
    margin-left: 860px;
    position: relative;
    bottom:1190px;
    word-spacing: 3px;
    font-size: 30px;
  }
  .video1{
    position: relative;
    top:3500px;
    width:720px; 
    height:520px;
  }
  .pic4{
    position: relative;
    top:3900px;
    width: 1500px;
  }
  .friends1{
    position: relative;
    top:3130px;
    margin-left:260px;
    font-size: 48px;
  }
  .friends2{
    position: relative;
    top:3150px;
    width: 103px;
    height: 50px;
    border-radius: 30px;
    margin-left:260px;
    font-size: 16px;
    background-color: #0A66C2;
    border: transparent;
    color: #fff;
    cursor: pointer;
  }
  .friends2:hover{
    background-color: darkblue;
  }
 .last{
  position: relative;
  top:3790px;
  width: 1500px;
  height: 600px;
  background-color: #e0eaef;
 }
 .pic5{
  position: relative;
  width: 135px;
  top:5px;
  background-color:#e0eaef;
 }
 .General{
  position: relative;
  top:3210px;
  margin-left: 260px;
  list-style-type: none;
  font-size:18px;
  font-weight: 400;
 }
 .Gen{
  list-style-type: none;
 }
 .General1{
 position: relative;
 display: block;
  top:3220px;
  margin-left: 260px;
  list-style-type:none;
  font-size:14px;
  gap: 5px;
  text-decoration: none;
  font-weight:60%;
  color:rgba(0,0,0,0.9);
  line-height:35px;
 }
 .General1:hover{
  text-decoration: underline;
  color: #0A66C2;
 }
 .Bro{
  list-style-type: none;
 }
 .Browse{
  position: relative;
  top:2950px;
  margin-left: 480px;
  list-style-type: none;
  font-size:18px;
  font-weight: 400;
 }
 .Browse1{
  position: relative;
 display: block;
  top:2960px;
  margin-left: 480px;
  list-style-type: none;
  font-size:14px;
  gap: 5px;
  text-decoration: none;
  font-weight:60%;
  color:rgba(0,0,0,0.9);
  line-height:35px;
 }
 .Browse1:hover{
  text-decoration: underline;
  color: #0A66C2;
 }
 .Bus1{
  list-style-type: none;
 }
 .Business{
  position: relative;
  top:2685px;
  margin-left: 760px;
  list-style-type: none;
  font-size:18px;
  font-weight: 400;
 }
 .Business1{
  position: relative;
  display: block;
   top:2695px;
   margin-left: 780px;
   list-style-type: none;
   font-size:14px;
   gap: 5px;
   text-decoration: none;
   font-weight:60%;
   color:rgba(0,0,0,0.9);
   line-height:35px;
 }
 .Business1:hover{
  text-decoration: underline;
  color: #0A66C2;
 }
 .Dir1{
  list-style-type: none;
 }
 .Directories{
  position: relative;
  top:2525px;
  margin-left: 1050px;
  list-style-type: none;
  font-size:18px;
  font-weight: 400;
 }
 .Directories1{
  position: relative;
  display: block;
   top:2535px;
   margin-left: 1060px;
   list-style-type: none;
   font-size:14px;
   gap: 5px;
   text-decoration: none;
   font-weight:60%;
   color:rgba(0,0,0,0.9);
   line-height:35px;
 }
 .Directories1:hover{
  text-decoration: underline;
  color: #0A66C2;
 }

 .final{
  position: relative;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  text-decoration: none;
  margin-left:20px;
  top:2600px;
  color: black;
 
 }
 
 .final1{
  position: relative;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  text-decoration: none;
  justify-content: space-between;
  font-size: 13px;
  white-space: nowrap;  
  width:50%;
  height: 10px;  
 }

 